@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

body {
    background-image: url('sunset.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#root {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
    background-attachment: fixed;
    background-size: 100% 100%;
}

.text-shadow {
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.8);
}

.inner:hover , .inner:active, .inner:focus{
    box-shadow: inset -1px 2px 5px 1px rgb(0, 0, 0, 0.3);
}

input::placeholder {
    text-shadow: none;
}

.headline, .footer-text {
    background-image: url('sunset.jpg');
    background-position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: text;
    color: transparent;
    filter: brightness(70%) saturate(130%);  
}

.background {
    background-image: url('sunset.jpg');
    background-position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: saturation;
    
    
}



